node_modules
.tmp
.sass-cache
**/bower_components
lib/**
platforms
*.swp
*.swo
*.log
**/*.DS_Store
#=======================================
# ignore for ios 
ios/App/build
ios/App/Pods
ios/App/Podfile.lock
ios/App/App/public
ios/DerivedData
ios/xcuserdata
# Cordova plugins for Capacitor
ios/capacitor-cordova-ios-plugins

#=======================================
# ignore for android
android/*.apk
android/*.aar
android/*.ap_
android/*.aab
android/*.dex
android/*.class
android/bin/
android/gen/
android/out/
android/.gradle/
android/build/
android/local.properties
android/proguard/
android/*.log
android/.navigation/
android/captures/
android/*.iml
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/gradle.xml
android/.idea/assetWizardSettings.xml
android/.idea/dictionaries
android/.idea/libraries
android/.idea/caches
android/.idea/modules.xml
android/.idea/navEditor.xml
android/.externalNativeBuild
android/.cxx/
android/freeline.py
android/freeline/
android/freeline_project_description.json
android/fastlane/report.xml
android/fastlane/Preview.html
android/fastlane/screenshots
android/fastlane/test_output
android/fastlane/readme.md
android/vcs.xml
android/lint/intermediates/
android/lint/generated/
android/lint/outputs/
android/lint/tmp/
android/*.hprof
android/capacitor-cordova-android-plugins
android/app/src/main/assets/public
